.footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    border-top:solid black 5px;
    background:white;
    margin-top: auto;
    height:fit-content;
    padding-top:1rem;
    padding-bottom:1rem;
}

.footerItem{
    font-size: 0.75rem;
}

.segelImage{
    width:55px;
}
