.header {
    background:#ffffff;
    width:100%;
    position: block;
    z-index: 3;
    border-bottom:solid black 5px;
}

.headerItem{
    font-size: 0.75rem;
    z-index: 3;
}

.headerContent {
    padding: 1rem;
    /* border-bottom: 1rem black solid; */
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.popMenu{
    position: absolute;
    margin:auto;
    width: 100%;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 5px black solid;
    z-index: -1;
    animation: forwards menuAnimation 0.25s
}

.logoImage{
    height:55px;
    width: 55px;
}

.hamburger{
    width:3rem;
    margin-right: 10%;
    margin-left: auto;
}

@keyframes menuAnimation {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
    
}

@keyframes menuAnimationBack {
    0%{
        transform: translateY(0px);
    }
    50%{
        opacity: 0;
    }
    100%{
        transform: translateY(-200%);
        
    }
    
}