.header {
    background:#ffffff;
    width:100%;
    position: sticky;
    z-index: 2;
    border-bottom:solid black 5px;
}

.headerItem{
    font-size: 0.75rem;
}

.headerContent {
    padding: 1rem;
    /* border-bottom: 1rem black solid; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.popMenu{
    position: absolute;
    margin:auto;
    width: 100%;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px black solid;
    z-index: 2;
}

.logoImage{
    height:55px;
    width: 55px;
}

.hamburger{
    width:3rem;
    margin-right: 10%;
    margin-left: auto;
}