.Home{
    height:100%;
}

.noteladHeader{
    max-width:300px;
    text-align: center;
}

.flexCon h1 {
    text-align: center;
}

.noteladLogo {
    max-width:300px;
    margin:1rem;
}




/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {

    .noteladLogo {
        max-width:200px;
        
    }

  }


