.findingPara{

   margin: auto;
   height: auto;
   max-width: 750px;
   word-wrap: break-word;
   display: flex;
   flex-direction: column;
}

.noteLogo{
   width:100px;
}

.noteCon{
   flex-direction: row;
   padding: 2rem;
   gap: 1rem;
}

.editLogo{
   width:4rem;
}


.exitLogo{
   width:4rem;
}

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 992px) {

   .noteCon{
      flex-direction: column;
      padding-left: 0;
      padding-right:0;
      max-width: 90%;
   }
 }